<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 200px;">
  <%= link_to dashboards_path, class: "navbar-brand d-flex justify-content-center" do %>
    <%= image_tag "logo.png", alt: "CGM-RJ", width: 100 %>
  <% end %>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to "Painel", dashboards_path, class: "btn btn-outline-primary border-0", style: "width: 100%;" %>
    </li>
    <li>
      <%= link_to "Processos", processos_path, class: "btn btn-outline-primary border-0", style: "width: 100%;" %>
    </li>
    <li>
      <%= link_to "Riscos", riscos_path, class: "btn btn-outline-primary border-0", style: "width: 100%;" %>
    </li>
    <li>
      <%= link_to "Controles", controles_path, class: "btn btn-outline-primary border-0", style: "width: 100%;" %>
    </li>
    <li>
      <%= link_to "Relatórios", gerar_relatorio_path, class: "btn btn-outline-primary border-0", style: "width: 100%;" %>
    </li>
    <hr>
    <li>
      <%= link_to "Política de Gestão de Riscos da CGM-Rio", "https://controladoria.prefeitura.rio/politica-de-gestao-de-riscos-da-cgm-rio/", :target => "_blank", class: "btn btn-outline-primary border-0", style: "width: 100%;" %>
    </li>
  </ul>
</div>
