<div class="d-flex">
  <div class="container">
    <div class="my-4">
      <h1><%=@risco.nome %></h1>
      <p><strong>Data de Identificação: </strong><%= @risco.data_identificacao %></p>
      <p><strong>Tipo de Risco: </strong><%= @risco.tipo_de_risco %></p>
      <p><strong>Associação do Risco: </strong><%= @risco.associacao_risco %></p>
      <p><strong>Causas: </strong><%= @risco.causas %></p>
      <p><strong>Consequências: </strong><%= @risco.consequencias %></p>
      <p><strong>Dimensões do Risco: </strong><%= @risco.dimensoes_risco %></p>
      <p><strong>Probabilidade/Frequência (Fr): </strong><%= @risco.probabilidade %></p>
      <p><strong>Justificativa da Probabilidade: </strong><%= @risco.justificativa_pr %></p>
      <p><strong>Impacto (I): </strong><%= @risco.impacto %></p>
      <p><strong>Justificativa do Impacto: </strong><%= @risco.justificativa_imp %></p>
      <p><strong>Risco Inerente (I x Fr): </strong><%= @risco.risco_inerente %></p>
      <p><strong>Existe Procedimento de Controle? </strong><%= @risco.valor_existe_procedimento_controle %></p>
      <p><strong>Descrição do Controle Existente: </strong><%= @risco.descricao_do_controle_existente %></p>
      <p><strong>O Controle é Eficaz? </strong><%= @risco.valor_controle_eficaz %></p>
      <p><strong>O Controle é Proporcional? </strong><%= @risco.valor_controle_proporcional %></p>
      <p><strong>O Controle é Razoável? </strong><%= @risco.valor_controle_razoavel %></p>
      <p><strong>O Controle é Adequado? </strong><%= @risco.valor_controle_adequado %></p>
      <p><strong>Fator de Avaliação dos Controles (FAC): </strong><%= @risco.fator_de_avaliacao_controles %></p>
      <p><strong>Risco Residual (RI x FAC): </strong><%= @risco.risco_residual %></p>
      <p><strong>Resposta Sugerida ao Risco: </strong><%= @risco.resposta_sugerida_para_risco %></p>
      <p><strong>Data Máxima para Implantação dos Controles: </strong><%= @risco.data_maxima_para_implantacao_dos_controles_propostos %></p>
      <p><strong>Tem Relação com a LGPD? </strong><%= @risco.valor_relacao_com_LGPD %></p>

      <div class="d-flex justify-content-between align-items-center" style="width: 600px;">
        <p><%= link_to "Editar", edit_risco_path(@risco), data: { controller:"show-form", action: "click->show-form#showForm" }, class: "btn btn-primary", style: "width: 100px;" %></p>
        <p><%= link_to "Voltar", processo_path(@processo), class: "btn btn-primary", style: "width: 100px;" %></p>
        <p>
          <%= link_to "Excluir", risco_path(@risco),
            data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este risco?" },
            class: "btn btn-outline-danger",
            style: "width: 100px;" %>
        </p>
        <p>
          <%= link_to new_risco_controle_path(@risco),
            data: { controller:"show-form", action: "click->show-form#showForm" },
            class: "d-flex justify-content-center align-items-center btn btn-outline-secondary border rounded-pill",
            style: "width: 250px; height: 40px;",
            remote: true do %>
            <span>Adicionar Novo Controle
              <i class="fa-solid fa-plus"></i>
            </span>
          <% end %>
        </p>
      </div>
      <hr>
      <div>
        <% if @controles.exists? %>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Nome do Controle</th>
                <th scope="col">Controle Novo ou Modificado?</th>
                <th scope="col">Tipo do Controle</th>
                <th scope="col">Natureza do Controle</th>
                <th scope="col">Relação com o Risco</th>
                <th scope="col">Responsável pela Ação</th>
                <th scope="col">Data Prevista de Início</th>
                <th scope="col">Data Prevista de Conclusão</th>
                <th scope="col">Data Real de Conclusão</th>
                <th scope="col">Órgãos Setores Envolvidos</th>
                <th scope="col">Análise EGR</th>
              </tr>
            </thead>
            <tbody>
              <% @controles.each do |controle| %>
                <tr>
                  <td><%= link_to controle.nome, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.novo_ou_modificado, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.tipo_do_controle, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.natureza_do_controle, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.relacao_com_o_risco, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.responsavel_pela_acao, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.data_prevista_de_inicio, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.data_prevista_de_conclusao, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.data_real_de_conclusao, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.orgaos_setores_envolvidos, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td><%= link_to controle.analise_EGR, controle_path(controle), class: "text-dark text-decoration-none" %></td>
                  <td>
                    <%= link_to edit_controle_path(controle), data: { controller:"show-form", action: "click->show-form#showForm" }, remote: true do %>
                      <i class="fa-solid fa-pencil"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to controle_path(controle), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este processo?" } do %>
                      <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <h1>Nenhum Controle Cadastrado</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= turbo_frame_tag "bootstrap_modal" %>
